//==================================================================
// MARGINS & PADDINGS & MISC 
//==================================================================
.u-margin-top-25 {
  margin-top: 3rem;
}

//==================================================================
// BUTTONS
//==================================================================

.btn {
  border: none;
  padding: 2rem;
  border-radius: 50rem;
  width: 100%;

  &MistyRose {
    background-color: $misty-rose;
    color: $fire-opal;
  }
}