.loginPage {
  height: 90vh;
  display: flex;

  & h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $misty-rose;
    text-align: center;
  }
}

.login {
  &_form {
    width: 50%;
    padding: 8rem;
    background-color: $fire-opal;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    width: 50%;
    background-image: 
    linear-gradient(rgba($misty-rose, .6), rgba($misty-rose, .6)),
    url('./assets/login-photo.jpeg');
    background-position: center;
    background-size: cover;
  }
}

.form {
  &-group {
    width: 100%;

    & label {
      display: block;
      margin: 1.5rem;
      font-size: 2rem;
      text-transform: uppercase;
      color: $misty-rose;
    }

    & input {
      width: 100%;
      display: block;
      padding: 1.5rem;
      border-radius: 50rem;
      border: none;
      font-size: 1.4rem;
      color: $fire-opal;
      letter-spacing: .1rem;

      &::placeholder {
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        letter-spacing: .1rem;
      }
    }
  }
}